/* font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Ysabeau&display=swap');
/* end font import */

/* start fonts */
h2 {
    font-family:'Ysabeau', sans-serif;
    text-transform: uppercase;
}

h4, button {
    font-family:'DM Sans', sans-serif;
    text-transform: uppercase;
    padding: 1em;
}
/* end fonts */

/* start hero */

.header {
    width: 100%;
}

.hero {
    width: 45%;
    float: left;
    margin:5px;
    padding: 10px;
    background-color: #13508D;
}

.header h2 {
    font-size: 4em;
    color: #ffff;
}

.header h4 {
    color: #ffff;
}

.header button {
    font-size: .8em;
    font-weight: 600;
    background-color: #ffff;
    color: #13508D;
    border: none;
    margin-bottom: 5%;
}

.hero {
    text-align: center;
}

.hero img {
    padding:0%;
    margin-left:0%;
    width: 50%;
    height: auto;
    float: left;
}

/* end hero side */


/* start sale section */
/* .sale-section {
    width: 100%;
}

.sale {
    background-color: #13508D;
    float: left;
    width: 30%;
}

.sale h2 {
    font-size: 4em;
    margin: 1em;
    color: #ffff;
    text-align: center;
}

.sale-details {
    color: #ffff;
    text-align: center;
}

.sale button {
    background-color: #13508D;
    border-width: 0.25em;
    border-color: #ffff;
    color: #ffff;
} */
/* end sale section */


/* start nav section */
.navigation {
    width: 100%;
}

.image {
    float: left;
    margin: 10px;
    text-align: center;
}

.image img {
    height: 15em;
    width: auto;
}
/* end nav section */
